<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVC_Spring_Hibernate">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVC_Spring_Hibernate</output-path>
    <root id="root">
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/META-INF/MANIFEST.MF" />
      </element>
    </root>
  </artifact>
</component>